:root{
  --maincolor-1:#FFFFFF;
  --maincolor-2:#2196F3;
}
/* 메인컬러라고 생각되는 흰색과 파랑색을 root로 지정했습니다. */
.container{
position: relative;
width: 1728px;
height: 1357px;
background:var(--maincolor-1)
}

header{
position: absolute;
width: 1728px;
height: 100px;
left: 0px;
top: 0px;
background: var(--maincolor-2)
}
.head_t{
position: absolute;
width: 234px;
height: 15px;
left: 38px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 15px;
color: var(--maincolor-1)
}

nav{
position: absolute;
width: 1728px;
height: 200px;
left: 0px;
top: 100px;
background: #F0F0F0;
}

ul{
padding-inline-start: 0;
margin-top: 40px;
margin-left:38px;
margin-bottom: 40px;
list-style-type: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
}

.side_l1{
position: absolute;
width: 302px;
height: 96px;
left: 38px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100%;
text-align: center;
color: #333333;
}
.side_l2{
position: absolute;
width: 335px;
height: 96px;
left: 38px;
top: 103px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100%;
text-align: center;
color: #2196F3;
}
.side_l3{
 position: absolute;
width: 146px;
height: 96px;
left: 38px;
top: 182px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100%;
text-align: center;
color: #2196F3;
}
.side_l4{
position: absolute;
width: 195px;
height: 96px;
left: 38px;
top: 262px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100%;
text-align: center;
color: #2196F3;
  
}
.side_l5{
position: absolute;
width: 252px;
height: 96px;
left: 38px;
top: 342px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100%;
text-align: center;
color: #333333;

}
.side_l6{
position: absolute;
width: 285px;
height: 30px;
left: 38px;
top: 562px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #2196F3;
}
main{
  position: absolute;
  width: 1728px;
  height: 857px;
  top: 300px;
  background:var(--maincolor-1)
  }


article{
position: absolute;
width: 1299px;
height: 857px;
left: 429px;
background: var(--maincolor-2)
}

/* 폰트를 사용해서 적용했고, 폰트가 나오지 않을 경우를 대비해서
그다음 폰트를 하나씩 더 입력해주었습니다. */
.m1{
position: absolute;
width: 191px;
height: 130px;
left: 1039px;
top: 414px;
font-family: 'Karantina', cursive ;
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 130px;  
color: var(--maincolor-1)
}
.m2{
position: absolute;
width: 225px;
height: 130px;
left: 1005px;
top: 524px; 
margin: 0px;
font-family: 'Karantina', cursive ;
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 130px;
color: var(--maincolor-1)
}

.m3{
position: absolute;
width: 361.65px;
height: 130px;
left: 937px;
top: 632px;
margin: 0px;
font-family: 'Karantina', cursive ;
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 130px;
color: var(--maincolor-1)
}

.bar_m{
position: absolute;
width: 1125.41px;
height: 4px;
left: 538.59px;
top: 1071px;
background: var(--maincolor-1)
}
footer{
position: absolute;
width: 1728px;
height: 200px;
left: 0px;
top: 1157px;
background: #333333;
} 

.f5{
margin-top:83px;
margin-left:38px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
color: #F0F0F0;
}

.bar_f{
position: absolute;
width: 1626px;
height: 2px;
left: 38px;
top: 1228px;
background: #D9D9D9;
}